
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header {
    padding: 20px 5%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.container {
    background-image: url('../images/elep.jpg');
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#form-container{
    padding: 50px 30px;
    text-align: center;
    width: 1000px;
    height: 800px;
    background: white;
    color: black;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px ;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#form-container h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
#form-container h3 {
    margin: 0;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
input {
    width: 100%;
    margin-bottom: 20px;
}
ul{
    list-style: none;
    font-size: 20px;
}
